body {
  background-color: #FFF;
  color: #000;
}
h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 50px;
  color: #FFF;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.small-image {
  width: 100px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
.intro{
  font-style: italic;
}
