body {
  background-color: #FFF;
  color: #000;
  font-family: 'Open Sans', sans-serif;;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.small-image {
  width: 100px;
  border-radius: 50%;
}

.intro{
  font-style: italic;
}
