body {
  font-family: sans-serif;
  background: yellow;
  text-align: center;
}

nav {
  position: fixed;
  top: 14px;
  right: 20px;
}

#title {
  font-family: impact, sans-serif;
  font-size: 50px;
  margin: auto;
}

#description {
  font-style: italic;
}

#submit {
  font-size: 20px;
}

fieldset {
  margin: 10px;
}
